@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@100;200;300;400;500;600;700;900&display=swap');

$font-head: 'Source Sans Pro', sans-serif;
$font-desc: 'Roboto', sans-serif;
$font-head2: 'Bebas Neue', cursive;
$desc-col:#CCCCCC;
$head2-col: #1CA3EC;

@mixin mobile {
    @media (max-width: 768px) { @content; }
}
  