.header-links .nav-link{
    padding: 0.5vw 1.1vw;
    font-size: 1.25vw;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;

}

.non-active-route{
    border-bottom: 0.1vw solid #747474;
    color: #ffffff;

}

.active-route{
    border: 0.1vw solid #747474;
    border-bottom: none;
    border-radius: 0.2vw;
    color: #1CA3EC;
}

