@import './fonts.scss';


.mobile-header{
    display: none;
    height: 13vw;
    @include mobile{
        display: block;
        position: relative;
        .mobile-logo{
            position: absolute;
            height: 7vw;
            top: 3vw;
            left: 3vw;
                
            
        }
        .header-button{
            background-color: transparent;
            position: absolute;
            top: 4vw;
            right: 4vw;
            img{
                height: 5vw;
            }
        }
        .header-modal{
            z-index: 99;
            background-color: #000000;
            position: absolute;
            width: 100vw;
            height: 100vh;
            .mobile-logo{
                position: absolute;
                height: 7vw;
                top: 3vw;
                left: 3vw;
                    
                
            }
            .modal-close{
                position: absolute;
                top: 4vw;
                right: 4vw;
                img{
                    height: 5vw;
                }
                background-color: transparent;
            }
            .mobile-header-links{
                margin-top: 20vw;
                margin-right: 10vw;
                font-size: 10vw;
                font-family: $font-head;
                .mobile-nav-link{
                    text-align: right;
                    display: block;
                }
                .mobile-active-route{
                    color: #1CA3EC;
                }
            }
        }
        
    }
}
